.container {
  margin-top: 10rem;
  padding: 10px 2rem;

  h1 {
    color: white;
  }

  .pagination_container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
}
